.container-product {
  display: flex;
  gap: 30px; /* Reduced gap for more compact layout */
  flex-wrap: wrap;
}
.container-product button {
  background-color: white;
  width: 50px;
}
.product {
  text-align: center;
  position: relative;
  display: inline-block;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: 8px;
  position: relative;
}

.product-name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  margin: 4px auto 0;
  transition: width 0.3s ease; /* Tạo hiệu ứng mượt */
}

/* Khi phần tử có lớp 'active', gạch chân hiển thị */
.product-name.active::after {
  width: 100%; /* Đường gạch đen kéo dài toàn bộ chữ */
}
